/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300);

body {
	background: url("http://subtlepatterns.com/patterns/congruent_pentagon.png");
}

h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, p, label, form {
	font-family: 'Roboto', sans-serif;
}

.logo {
	margin: 1.5em;
}
.logo-text {
	color: #5A6198;
}
.btn-success {
	background-color: #5A6198;
	border-color: #5A6198;
}

.location-wrap {
	background: url("https://i.imgur.com/7wacneZ.png") center center;
	.location {
		color: #fff;
		text-shadow: 2px 2px 0px #000;
	}
}

.checkfieldbox {
	font-size: 1.5em;
}

.answer {

}

.feel-wrap {
	padding-top: 0.5em;
}